@model IEnumerable<FitnessCenterv2.Equipment>

@{
    ViewBag.Title = "ManageEquipment";
}

<h2>ManageEquipment</h2>

<p>
    @Html.ActionLink("Create New", "AddEquipment")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsAvaliable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsAvaliable)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitPrice)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditEquipment", new { id=item.ID }) |
            @Html.ActionLink("Delete", "DeleteEquipment", new { id=item.ID })
        </td>
    </tr>
}

</table>
