@model IEnumerable<FitnessCenterv2.Report>


@{
    ViewBag.Title = "Report List";
}

<h2>Report List</h2>

 
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SenderID)
        </th>
     
        <th>
            @Html.DisplayNameFor(model => model.Subject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Body)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SendDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.User.FirstName) 
            @Html.DisplayFor(model=> item.User.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Subject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Body)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SendDate)
        </td>
    </tr>
}

</table>
